{
  "plugins": [
    "stylelint-prettier"
  ],
  "extends": [
    "stylelint-prettier/recommended"
  ],
  "rules": {
    "at-rule-empty-line-before": null,
    "at-rule-no-unknown": null,
    "declaration-colon-newline-after": null,
    "declaration-empty-line-before": null,
    "max-empty-lines": 4,
    "indentation": 2,
    "no-eol-whitespace": [
      true,
      {
        "ignore": [
          "empty-lines"
        ]
      }
    ],
    "number-leading-zero": null,
    "no-empty-source": null,
    "rule-empty-line-before": null,
    "selector-list-comma-newline-after": "always-multi-line",
    "selector-list-comma-space-after": "always-single-line",
    "selector-pseudo-element-colon-notation": "double",
    "selector-type-no-unknown": null,
    "string-no-newline": null,
    "string-quotes": "single",
    "no-missing-end-of-source-newline": null,
    "no-descending-specificity": null,
    "no-duplicate-selectors": null,
    "unit-whitelist": [
      "em",
      "rem",
      "s",
      "px",
      "%",
      "deg",
      "ms",
      "vh",
      "vw",
      "dppx",
      "dpi",
      "fr"
    ],
    "prettier/prettier": [
      true,
      {
        "singleQuote": true,
        "tabWidth": 2
      }
    ]
  }
}
