<pbds-page-title ttl="Home" container="container"></pbds-page-title>

<!--  mt-7 class on container, unless the first element inside is an H2 -->
<div class="container mt-7">
  <div class="row">
    <div class="col">
      <!-- if you have an H2 as the first element, remove the mt-7 from the container -->
      <!-- <h2>Rest of Your Content</h2> -->
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae eaque adipisci, illo minus inventore
        possimus amet non blanditiis, quibusdam perspiciatis sunt, veritatis ex a explicabo praesentium. Laudantium
        dolorem tempore veritatis nulla aliquam perferendis voluptatum ducimus quis ipsa quo. Deleniti, et. Tempora
        nihil incidunt voluptatum soluta delectus doloremque vero nesciunt pariatur, sit dicta obcaecati, harum quia
        fugit? Porro iusto id molestiae ullam sed soluta laboriosam odio, ducimus, dolor delectus laudantium perferendis
        consequuntur aperiam qui vero alias quisquam voluptate, harum impedit sit similique perspiciatis necessitatibus!
        Voluptate aperiam consectetur perspiciatis laboriosam hic! Placeat alias necessitatibus laboriosam id, velit
        possimus consectetur sequi obcaecati perferendis excepturi odio incidunt saepe quia officia minima! Pariatur vel
        iste, eligendi dolor sint ullam porro veniam veritatis dignissimos. Quia quod est doloribus molestias, vel optio
        vitae nulla soluta aliquam voluptatibus repudiandae quas eaque cupiditate perspiciatis tempora distinctio, nam
        id. Rem distinctio amet molestiae quis, debitis accusantium autem, earum ut tempora voluptatem quo. Consequuntur
        laborum tempora consequatur molestias maiores hic aspernatur, ipsum beatae quae quaerat, aliquid provident
        ratione soluta accusamus voluptatem minima veniam illo voluptas porro mollitia. Ea accusantium doloremque autem
        est quod labore tempora aperiam neque quibusdam quia, minima temporibus doloribus eius. Culpa ullam ad ea iure
        asperiores aut consequatur amet enim at magnam. Perferendis id ab exercitationem obcaecati sint et quod ad iste
        eveniet nemo? Impedit veritatis libero aliquam at nesciunt et necessitatibus alias illum error labore
        consequatur sit inventore deleniti, praesentium quia minus magnam nihil sed quisquam eius. Expedita sed,
        sapiente minus sint tempora fugit! Minima quisquam sapiente natus harum nesciunt autem nostrum doloribus commodi
        corporis, facere omnis non vitae nulla eos praesentium tempora libero! Corrupti assumenda enim sed itaque dolore
        esse praesentium atque maxime recusandae velit, molestiae non a quos blanditiis magni dicta mollitia odio
        laboriosam ut culpa dolorum delectus voluptate? Sit eligendi suscipit sed! Odit, consectetur.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae eaque adipisci, illo minus inventore
        possimus amet non blanditiis, quibusdam perspiciatis sunt, veritatis ex a explicabo praesentium. Laudantium
        dolorem tempore veritatis nulla aliquam perferendis voluptatum ducimus quis ipsa quo. Deleniti, et. Tempora
        nihil incidunt voluptatum soluta delectus doloremque vero nesciunt pariatur, sit dicta obcaecati, harum quia
        fugit? Porro iusto id molestiae ullam sed soluta laboriosam odio, ducimus, dolor delectus laudantium perferendis
        consequuntur aperiam qui vero alias quisquam voluptate, harum impedit sit similique perspiciatis necessitatibus!
        Voluptate aperiam consectetur perspiciatis laboriosam hic! Placeat alias necessitatibus laboriosam id, velit
        possimus consectetur sequi obcaecati perferendis excepturi odio incidunt saepe quia officia minima! Pariatur vel
        iste, eligendi dolor sint ullam porro veniam veritatis dignissimos. Quia quod est doloribus molestias, vel optio
        vitae nulla soluta aliquam voluptatibus repudiandae quas eaque cupiditate perspiciatis tempora distinctio, nam
        id. Rem distinctio amet molestiae quis, debitis accusantium autem, earum ut tempora voluptatem quo. Consequuntur
        laborum tempora consequatur molestias maiores hic aspernatur, ipsum beatae quae quaerat, aliquid provident
        ratione soluta accusamus voluptatem minima veniam illo voluptas porro mollitia. Ea accusantium doloremque autem
        est quod labore tempora aperiam neque quibusdam quia, minima temporibus doloribus eius. Culpa ullam ad ea iure
        asperiores aut consequatur amet enim at magnam. Perferendis id ab exercitationem obcaecati sint et quod ad iste
        eveniet nemo? Impedit veritatis libero aliquam at nesciunt et necessitatibus alias illum error labore
        consequatur sit inventore deleniti, praesentium quia minus magnam nihil sed quisquam eius. Expedita sed,
        sapiente minus sint tempora fugit! Minima quisquam sapiente natus harum nesciunt autem nostrum doloribus commodi
        corporis, facere omnis non vitae nulla eos praesentium tempora libero! Corrupti assumenda enim sed itaque dolore
        esse praesentium atque maxime recusandae velit, molestiae non a quos blanditiis magni dicta mollitia odio
        laboriosam ut culpa dolorum delectus voluptate? Sit eligendi suscipit sed! Odit, consectetur.
      </p>
    </div>
  </div>
</div>
