<pbds-page-title ttl="Item 1" container="container"></pbds-page-title>
<!--  mt-7 class on container, unless the first element inside is an H2 -->
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Some Other Content</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae eaque adipisci, illo minus inventore
        possimus amet non blanditiis, quibusdam perspiciatis sunt, veritatis ex a explicabo praesentium. Laudantium
        dolorem tempore veritatis nulla aliquam perferendis voluptatum ducimus quis ipsa quo. Deleniti, et. Tempora
        nihil incidunt voluptatum soluta delectus doloremque vero nesciunt pariatur, sit dicta obcaecati, harum quia
        fugit? Porro iusto id molestiae ullam sed soluta laboriosam odio, ducimus, dolor delectus laudantium perferendis
        consequuntur aperiam qui vero alias quisquam voluptate, harum impedit sit similique perspiciatis necessitatibus!
        Voluptate aperiam consectetur perspiciatis laboriosam hic! Placeat alias necessitatibus laboriosam id, velit
        possimus consectetur sequi obcaecati perferendis excepturi odio incidunt saepe quia officia minima! Pariatur vel
        iste, eligendi dolor sint ullam porro veniam veritatis dignissimos. Quia quod est doloribus molestias, vel optio
        vitae nulla soluta aliquam voluptatibus repudiandae quas eaque cupiditate perspiciatis tempora distinctio, nam
        id. Rem distinctio amet molestiae quis, debitis accusantium autem, earum ut tempora voluptatem quo. Consequuntur
        laborum tempora consequatur molestias maiores hic aspernaturos, doloremque, quisquam.
      </p>
    </div>
  </div>
</div>
