<header class="bg-brand-header fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light">
          <button
            class="navbar-toggler p-0"
            type="button"
            (click)="isMenuCollapsed = !isMenuCollapsed"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" routerLink="/home"> Product Name </a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isMenuCollapsed">
            <ul class="navbar-nav me-auto">
              <li class="nav-item divider-vertical d-none d-lg-block"></li>

              <li class="nav-item">
                <a class="nav-link" routerLink="/item1">Item 1</a>
              </li>

              <li class="nav-item" ngbDropdown>
                <button
                  class="nav-link"
                  id="navbarDropdownMenuLink"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  ngbDropdownToggle
                >
                  Menu 1
                </button>
                <div aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
                  <a ngbDropdownItem routerLink="">Menu Item 1</a>
                  <a ngbDropdownItem routerLink="">Menu Item 2</a>
                  <a ngbDropdownItem routerLink="">Menu Item 3</a>
                </div>
              </li>

              <li class="nav-item" ngbDropdown>
                <button
                  class="nav-link"
                  id="navbarDropdownMenuLink"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  ngbDropdownToggle
                >
                  Menu 2
                </button>
                <div aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
                  <a ngbDropdownItem routerLink="">Menu Item 1</a>
                  <a ngbDropdownItem routerLink="">Menu Item 2</a>
                  <a ngbDropdownItem routerLink="">Menu Item 3</a>
                </div>
              </li>
            </ul>

            <ul class="navbar-nav navbar-right" [ngClass]="{ 'search-active': searchActive }">
              <li class="nav-item">
                <!-- when search icon is clicked, search UI is displayed and the other menus are hidden -->
                <button
                  #searchLink
                  class="nav-link d-none d-sm-block"
                  aria-label="Search"
                  (click)="toggleSearch($event)"
                >
                  <i class="pbi-icon-outline pbi-search d-none d-lg-inline" aria-hidden="true"></i>
                </button>

                <div class="nav-link d-sm-none">
                  <div class="form-group d-lg-none">
                    <div class="input-group input-group-sm">
                      <label for="search-input-xs" class="sr-only">Search</label>
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                          <i class="pbi-icon-mini pbi-search"></i>
                        </span>
                      </div>
                      <input id="search-input-xs" class="form-control" type="search" placeholder="Search" />
                    </div>
                  </div>
                </div>
              </li>

              <!-- Apps menu -->
              <li class="nav-item" ngbDropdown>
                <button
                  class="nav-link"
                  aria-labelledby="app-offscreen"
                  aria-haspopup="true"
                  aria-expanded="false"
                  ngbDropdownToggle
                >
                  <i class="pbi-icon-outline pbi-apps d-none d-lg-inline" aria-hidden="true"></i>

                  <span class="d-lg-none" id="app-offscreen">
                    <i class="pbi-icon-mini pbi-grid-4" aria-hidden="true"></i>&nbsp;Applications
                  </span>
                </button>
                <div role="menu" ngbDropdownMenu>
                  <div class="section-head hidden-xs">Your Apps</div>
                  <a ngbDropdownItem href="">App 1</a>
                  <a ngbDropdownItem href="">App 2</a>
                  <a ngbDropdownItem href="">App 3</a>
                  <a ngbDropdownItem class="disabled" aria-disabled="true" href="">App 4</a>
                </div>
              </li>

              <!-- Support menu -->
              <li class="nav-item menu-help" ngbDropdown>
                <button
                  class="nav-link"
                  aria-labelledby="help-offscreen"
                  aria-expanded="false"
                  aria-haspopup="true"
                  ngbDropdownToggle
                >
                  <i class="pbi-icon-outline pbi-help-circle d-none d-lg-inline" aria-hidden="true"></i>

                  <span class="d-lg-none" id="help-offscreen">
                    <i class="pbi-icon-mini pbi-help-circle" aria-hidden="true"></i>&nbsp;Support
                  </span>
                </button>

                <div role="menu" ngbDropdownMenu>
                  <div class="section-head hidden-xs">Support</div>
                  <div class="px-3">
                   <input
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="Search"
                    aria-label="Search"
                  />
                  </div>

                  <a ngbDropdownItem href="">Support Topic 1</a>
                  <a ngbDropdownItem href="">Support Topic 2</a>
                  <a ngbDropdownItem href="">See All Support Topics</a>
                  <div class="divider" role="separator"></div>
                  <a ngbDropdownItem href="">
                    <i class="pbi-icon-mini pbi-chat-conversation" aria-hidden="true"></i> Chat
                    <span ng-if="patterns.offline">Offline</span>
                  </a>
                  <a ngbDropdownItem href=""> <i class="pbi-icon-mini pbi-mail" aria-hidden="true"></i> Email</a>
                  <a ngbDropdownItem href="tel:1-800-555-45678">
                    <i class="pbi-icon-mini pbi-phone" aria-hidden="true"></i> 1-800-555-45678</a
                  >
                  <div class="divider" role="separator"></div>
                  <a ngbDropdownItem href="">
                    <i class="pbi-icon-mini pbi-download" aria-hidden="true"></i> Printer/Scale Drivers</a
                  >
                </div>
              </li>

              <!-- settings menu -->
              <li class="nav-item" ngbDropdown>
                <button
                  class="nav-link"
                  aria-labelledby="settings-offscreen"
                  aria-expanded="false"
                  aria-haspopup="true"
                  ngbDropdownToggle
                >
                  <i class="pbi-icon-outline pbi-settings d-none d-lg-inline" aria-hidden="true"></i>

                  <span class="d-lg-none" id="settings-offscreen">
                    <i class="pbi-icon-mini pbi-settings" aria-hidden="true"></i>&nbsp;Settings
                  </span>
                </button>

                <div role="menu" ngbDropdownMenu>
                  <div class="section-head">Application Settings</div>
                  <a ngbDropdownItem href="">Carriers</a>
                  <a ngbDropdownItem href="">Cost Accounts</a>
                  <a ngbDropdownItem href="">Postage Payment Methods</a>
                  <a ngbDropdownItem href="">Users</a>
                  <div class="section-head hidden-xs">Personal Preferences</div>

                  <a ngbDropdownItem href="">Label Options</a>
                  <a ngbDropdownItem href="">Automatic Emails</a>
                  <a ngbDropdownItem href="">Presets</a>
                  <a ngbDropdownItem href="">Return Label</a>
                  <a ngbDropdownItem href="">Preferences</a>
                </div>
              </li>

              <!-- User menu -->
              <li class="nav-item menu-user" ngbDropdown>
                <button class="nav-link" aria-labelledby="username-offscreen" aria-expanded="false" ngbDropdownToggle>
                  <div class="d-none d-lg-block header-user-lockup">
                    <div class="header-username">Melanie Daniels</div>
                  </div>

                  <span class="d-lg-none" id="username-offscreen">
                    <i class="pbi-icon-mini pbi-user-circle" aria-hidden="true"></i>&nbsp;Melanie Daniels
                  </span>
                </button>

                <div role="menu" ngbDropdownMenu>
                  <a ngbDropdownItem href="">Profile <br /><span class="menu-text-small">Email, Passwords</span></a>
                  <a ngbDropdownItem href=""
                    >Your Account <br /><span class="menu-text-small">Financials, Usage, Products, Support</span></a
                  >
                  <div class="divider" role="separator"></div>
                  <a ngbDropdownItem href="">Sign Out</a>
                </div>
              </li>
            </ul>

            <!-- new search, appears when icon in right menus (above) is clicked -->
            <div class="header-search d-none d-sm-block" [ngClass]="{ 'search-active': searchActive }">
              <form class="search-ui">
                <input
                  #searchInput
                  id="search-input"
                  class="form-control search"
                  type="text"
                  required=""
                  aria-label="Search"
                />

                <button
                  class="search-clear border-0"
                  type="reset"
                  (click)="toggleSearch($event)"
                  aria-label="clear search"
                >
                  <i class="pbi-icon-mini pbi-close" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
